<div class="col-sm-12">
    
    <div class="jumbotron">
        <%= title %> <br/><br/>
        <form action=""method="post">
            first_name:<br>
            <input type="text" name"firstname"placeholder="firstname">
            <br><br>
            last_name:<br>
            <input type="text" name"lastname"placeholder="lastname">
            <br><br>
            
            <input type="submit"value="submit">
        </form>
    </div>
</div>